<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesion</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="body-login">
        <div class="login-container">
            <div class="login-box">
                <h1>Bienvenido al Sistema de Matrícula</h1>
                <h2>Iniciar Sesion</h2>
                <form action="/matricula" method="post">
                    <input type="text" placeholder="User" id="user" name="user" required><br>
                    <input type="password" placeholder="Password" id="password" name="password"><br>
                    <button type="submit">Iniciar Sesion</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>