body {
    font-family: Arial, sans-serif;
    background: url("https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=872&q=80") center center/cover no-repeat;
    background-color: rgba(255, 255, 255, 0.5);
    /* Fondo semi-transparente blanco */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}




.login-container {
    text-align: center;
}

.login-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    max-width: 400px;
    width: 100%;
    text-align: center;
    display: inline-block;
    position: relative;
}


.login-box h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #003366;
}

.login-box h2 {
    margin-bottom: 20px;
    font-size: 20px;
}

.login-box input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-box button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.login-box button:hover {
    background-color: #0056b3;
}


/*---------------Matricula--------------*/

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    max-width: 600px;
    width: 100%;
    display: inline-block;
    position: relative;
}

.container h1 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
    color: #003366;
}

.container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.container .form-group {
    margin-bottom: 20px;
}

.container .form-check {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.container .form-check input[type="checkbox"],
.container .form-check input[type="radio"] {
    margin: 0;
    margin-right: 7px;

}

.container .btn {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
}

.container .btn-danger {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
}

.btn-success {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
}

.btn:hover {
    background-color: #0056b3;
}

.container label {
    font-size: 16px;
    color: #333;
    font-weight: normal;
}

input [type="text"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

#resultado h2 {
    margin-bottom: 10px;
}

#resultado p {
    font-size: 16px;
    margin-bottom: 5px;
}

#confimar-matricula {
    display: flex;
    justify-content: flex-end;
}

#confimar-matricula button {
    margin-top: 10px;
}


/*-----------Confirmacion-------------*/
.confirmacion-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    max-width: 500px;
    width: 100%;
    text-align: center;
    display: inline-block;
    position: relative;
}

.confirmacion-container h2 {
    color: #003366;
}

.detalle-matricula {
    text-align: left;
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.confirmacion-container button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 20px;
}

.confirmacion-container button:hover {
    background-color: #0056b3;
}